/progs/ch1-02/yacclib.dcu
/progs/ch1-02/ch1-02.lst
/progs/ch1-02/expr.dcu
/progs/ch1-02/expr.lst
/progs/ch1-02/frmTest.dcu
/progs/ch1-02/lexlib.dcu
/progs/ch1-02/test.dproj
/progs/ch1-02/test.dproj.local
/progs/ch1-02/test.exe
/progs/ch1-02/test.identcache
/progs/ch1-02/test.res
/progs/ch1-02/uStreamLexer.dcu
